*.sh~
*.py~
*.R~
*.smk~
rules/*.smk~
*.fastq*
*.out
*.zip
*.qz
.gitignore~
.gitignore
*.log
*.tsv
*.json
*.sam
*.bam
*.bai
*.bin
*.tab
*.out

*.png
*.pdf
*.xlsx
*.csv
*.Rhistory
*.RData
*.txt
raw_reads
trimmed
*tmp
README~
.RData
.RHistory
DS_Store
Snakefile~
*.tab
.snakemake/
test/
multiqc_data/
*.html
transcript_index/
star/
star/genome_index
star/qc/
*salmon*_quant*
final_bams/
eqtl/
limma_results/
*.html
pass1/
pass2/
qc/
MegaLMM*
src/
annotations/
es_sandbox/
ASE/
pseudos/
*.vcf*
